@import "reset.less";

@font-family-sans: "Source Sans Pro", sans-serif;
@font-family-serif: "Lora", serif;

@color-main: #63bcf4;
@color-white: #fff;

body {
  background-color: #eee;
  background-image: url('/assets/images/bg.png');

  font-family: @font-family-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2 {
  font-family: @font-family-sans;
  font-weight: 900;
  line-height: 1;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;

  @media (min-width: 480px) {
    font-size: 64px;
  }
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;

  color: #2b3036;

  @media (min-width: 480px) {
    font-size: 48px;
  }
}

p {
  margin: 20px 0;
}

/*
 * Components
 */

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  margin: 10px 0;
  padding: 10px 25px;

  background: @color-main;
  border-radius: 6px;
  border-bottom: 2px solid #0381be;

  text-decoration: none;
  font-family: @font-family-sans;
  font-size: 18px;
  font-weight: 900;
  text-shadow: none;
  color: @color-white;
}

/*
 * Elements
 */

aside {
  padding: 25% 0;

  background-image: url('/assets/images/intro.jpg');
  background-size: cover;

  text-align: center;
  color: white;
  cursor: default;

  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

article {
  padding: 30% 0;

  border-bottom: 1px solid #bbb;

  color: #232323;

  &:last-of-type {
    border-bottom: none;
  }

  header {
    margin-bottom: 75px;

    text-align: center;

    .author {
      margin-bottom: 20px;

      font-size: 16px;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }

  div p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;

    @media (min-width: 480px) {
      font-size: 20px;
      line-height: 36px;
    }
  }
}

footer {
  max-width: 700px;
  padding: 1% 10px 10%;
  margin: 0 auto;

  text-align: center;
  color: #666;

  transition: opacity ease-in-out 1s;

  p {
    margin-bottom: 40px;
    line-height: 1.6;
  }

  a.button {
    margin-top: 20px;
    font-size: 14px;
  }
}