@(documents: List[com.panuleppaniemi.models.DocumentWithContent])

@main("Tarinat") {
    @documents.map { document =>
        <article>
            <header>
                <h2>
                    @document.document.title
                </h2>

                <span class="author">
                    @document.document.author
                </span>
            </header>

            <div>
                <p>
                    @document.content
                </p>
            </div>
        </article>
    }
}
