@(documents: List[com.panuleppaniemi.models.DocumentWithContent])

@main("Tulevaisuustarinat") {
    @documents.map { document =>
        <article>
            <header>
                <h2>
                    @document.document.title
                </h2>

                <div class="author">
                    &ndash; @document.document.author
                </div>
            </header>

            <div>
                <p>
                    @Html(document.content)
                </p>
            </div>
        </article>
    }
}
