@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro:900">
    </head>
    <body>
        <aside>
            <div class="content">
                <h1>Tulevaisuus&shy;tarinat</h1>

                <p>Kokoelma kirjoituksia. Näkemyksiä tulevaisuudesta.</p>

                <p>
                    <br>
                    <a href="#tarinat" class="button">Lue</a>
                </p>
            </div>
        </aside>

        <section id="tarinat" class="stories content">
            @content
        </section>

        <footer>
            <p>
                Tarkoituksenani on kerätä näkemyksiä tulevaisuudesta kirjoitusten muodossa.
                Haluatko kertoa oman tarinasi, jossa kuvaat vaikkapa arkipäivää tulevaisuudessa, yksittäistä tulevaisuuden palvelua tai asioiden tilaa suuremmassa yhteiskunnallisessa mittakaavassa?
            </p>

            <a href="https://twitter.com/panuleppaniemi" class="button">Ota yhteyttä</a>
        </footer>
    </body>
</html>
